{% extends "base.html" %}

{% block content %}
<h1 class="title">Add New Sell</h1>

<form method="POST" action="{{ url_for('storage.add_sell') }}">
    {{ form.hidden_tag() }}
    <div class="field">
        <label class="label">ІД Товару</label>
        <div class="control">
            {{ form.product_id(value=request.args.get('product_id'), class="input") }}
        </div>
    </div>
    <div class="field">
        <label class="label">Кількість</label>
        <div class="control">
            {{ form.count(class="input") }}
        </div>
    </div>
    <div class="field">
        <label class="label">Комментар</label>
        <div class="control">
            {{ form.comment(class="input") }}
        </div>
    </div>
    <div class="field">
        <label class="label">Сума</label>
        <div class="control">
            {{ form.summ(class="input") }}
        </div>
    </div>
    <div class="field">
        <label class="label">Додаткові витрати</label>
        <div class="control">
            {{ form.additional_expanses(class="input") }}
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-success">Додати продаж</button>
        </div>
    </div>
</form>
{% endblock %}
